body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 5%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.logo-corner {
  width: 40%;
  display: flex;
}

.logo-img {
  width: 3rem;
  height: 3rem;
}

.logo {
  font-size: 2rem;
  line-height: 0.5rem;
}

nav {
  padding-right: 5%;
  width: 25%;
}

.nav-menu {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items > a {
  text-decoration: none;
  color: #047dff;
}