* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.missions-cols,
.mission {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
}

.mission:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.mission-data {
  box-sizing: border-box;
  padding: 0.8rem 0.4rem 1.75rem 0.4rem;
  border: 1px solid #dee2e6;
}

.mission .mission-data:first-of-type {
  font-weight: 700;
  font-size: 1.25rem;
}

.mission-col {
  box-sizing: border-box;
  border: 1px solid #dee2e6;
  padding: 0.5rem 0.35rem;
  font-size: 1.25rem;
  font-weight: 700;
}
